# C / C++ flags matching nsjail
build --cxxopt=-std=c++20
build --cxxopt=-fno-exceptions
build --copt=-D_GNU_SOURCE
build --copt=-D_FILE_OFFSET_BITS=64
build --linkopt=-Wl,-z,noexecstack

test --test_output=errors

# Silence warnings in upstream C/C++ dependencies
build --per_file_copt=external/protobuf\\+/.*@-Wno-deprecated-declarations
build --host_per_file_copt=external/protobuf\\+/.*@-Wno-deprecated-declarations
build --host_per_file_copt=external/rules_m4\\+\\+.*@-Wno-ignored-attributes
build --host_per_file_copt=external/rules_flex\\+\\+.*@-Wno-pointer-sign,-Wno-misleading-indentation

# Use prebuilt protoc instead of compiling from source
common --incompatible_enable_proto_toolchain_resolution
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
